
<div class="row s-header__inner width-sixteen-col">
    <div class="s-header__block">
        <div class="s-header__logo">
            <a class="logo" href="index.html">
                <img class="logo-image" src="images/Masood Studio Logo.png" alt="Homepage">
            </a>
        </div>
        <style>
            .logo-image {
                width: 750px;
                /* Adjust as needed */
                height: auto;
            }
        </style>
        <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
    </div>
    <nav class="s-header__nav">
        <ul class="s-header__menu-links">
            <li><a href="index.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="photography.html">Photography</a></li>
            <li><a href="publications.html">Publications</a></li>
            <li><a href="learn.html">Learn</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="s-header__contact">
            <a href="contact.html" class="btn btn--primary s-header__contact-btn">Let's Connect</a>
        </div>
    </nav>
</div>