
<!-- page wrap
    ================================================== -->
    <div class="s-pagewrap ss-home">

        <!-- # site header 
        ================================================== -->
        <header class="s-header">
            <div class="row s-header__inner width-sixteen-col">
                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img class="logo-image" src="images/Masood Studio Logo.png" alt="Homepage">
                        </a>
                    </div>
                    <style>
                        .logo-image {
                            width: 750px;
                            /* Adjust as needed */
                            height: auto;
                        }
                    </style>
                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div>
                <nav class="s-header__nav">
                    <ul class="s-header__menu-links">
                        <li><a href="index.html">About</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="photography.html">Photography</a></li>
                        <li><a href="publications.html">Publications</a></li>
                        <li><a href="learn.html">Learn</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <div class="s-header__contact">
                        <a href="contact.html" class="btn btn--primary s-header__contact-btn">Let's Connect</a>
                    </div>
                </nav>
            </div>
        </header>

    </div>

        <!-- keywords for SEO in the comments -->

        <!-- 
        Keywords: Umar Masood, Robotics, Innovation, Technology, Projects, Photography, Roboticist, NUST Islamabad, University of Houston, UH, UH Robotics, UH Robotics Lab, UH Robotics Research
        NMSU, New Mexico State University, NMSU Robotics, NMSU Robotics Lab, NMSU Robotics Research, NMSU Robotics Club, NMSU Robotics Team, NMSU Robotics Projects, NMSU Robotics Competition
        Robotics, Robotics Projects, Robotics Research, Robotics Innovation, Robotics Technology, Robotics Club, Robotics Team, Robotics Competition, Robotics Lab
        NUST, NUST Islamabad, NUST Robotics, NUST Robotics Lab, NUST Robotics Research, NUST Robotics Club, NUST Robotics Team, NUST Robotics Projects, NUST Robotics Competition
        NUST Mechatronics Department, NUST Mechatronics, NUST Mechatronics Lab, NUST Mechatronics Research, NUST Mechatronics Club, NUST Mechatronics Team, NUST Mechatronics Projects, NUST Mechatronics Competition
        National Univeristy of Sciences and Technology, Islamabad, Pakistan, National Center of Robotics and Automation, NCRA, NUST NCRA, NUST NCRA Robotics, NUST NCRA Robotics Lab, NUST NCRA Robotics Research
        Robotics and Automation, Robotics and Automation Projects, Robotics and Automation Research, Robotics and Automation Innovation, Robotics and Automation Technology, Robotics and Automation Club, Robotics and Automation Team, Robotics and Automation Competition, Robotics and Automation Lab
        Robotics and Automation Department, Robotics and Automation Projects, Robotics and Automation Research, Robotics and Automation Innovation, Robotics and Automation Technology, Robotics and Automation Club, Robotics and Automation Team, Robotics and Automation Competition, Robotics and Automation Lab

        Description: Umar Masood's personal website. Innovating in robotics for a better world. Explore projects, photography, publications, and learning resources.
        Author: Umar Masood, Muhammad Umar Masood, Umar Masood Robotics, Umar Masood Projects, Umar Masood Photography, Umar Masood Publications, Umar Masood Learning, Umar Masood Contact
        Shutter by Masood, Tech by Masood, Photography by Masood            -->
        
